/* styles.css */

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #fff;
}

header {
  background-color: #ff4500;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
}

header h1 {
  margin: 0;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
}

main {
  padding: 120px 20px 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* Зменшено ширину для більшого простору навколо */
  margin: 0 auto;
  padding: 30px;
  background-color: #333;
  border: 2px solid #ff4500;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.calculator h2 {
  font-size: 28px;
  color: #ff4500;
}

.calculator label {
  display: block;
  margin-top: 15px;
  font-size: 18px;
}

.calculator input,
.calculator select,
.calculator button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  font-size: 18px;
  box-sizing: border-box;
}

.calculator button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.calculator button:hover {
  background-color: #cc3700;
}

.calculator p {
  margin-top: 15px;
  font-size: 20px;
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
